<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blog Home - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/images/favicon.ico')}}" />
        <!-- Core theme CSS (includes Bootstrap)-->

        <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">Minerva</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
                        <!--<li class="nav-item"><a class="nav-link" href="#">Other link</a></li>-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                {% for category in structure['content']['dir'] %}
                                <li><a class="dropdown-item" href="/{{category.replace(' ', '-').lower()}}">{{ category.replace('_', ' ').capitalize() }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">{{section.replace('_', ' ').capitalize()}}</h1>
                    <p class="lead mb-0">{{structure[section]['description']}}</p>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div>
                    <div class="row">
                        <div>
                            <!-- Blog post-->
                            {% for subsection in structure[section]['dir'] %}
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5>Subsection</h5>
                                    <h2 class="card-title h4"><a href="/{{section}}/{{subsection.replace(' ', '-').lower()}}">{{subsection.replace('_', ' ').capitalize()}}</a></h2>
                                    <p class="card-text">{{structure[subsection]['description']}}</p>
                                </div>
                            </div>
                            {% endfor %}

                            {% for subsection in structure[section]['files'] %}
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5>Post</h5>
                                    <h2 class="card-title h4"><a href="/{{section}}/article/{{subsection.replace(' ', '-').lower()}}">{{subsection.replace('_', ' ').capitalize()}}</a></h2>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Minerva 2024</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
